{% extends 'base.html' %}

{% block title %}{% if form.instance.pk %}Редактировать{% else %}Новая запись{% endif %} - Личный дневник{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h4>{% if form.instance.pk %}Редактировать запись{% else %}Новая запись в дневнике{% endif %}</h4>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}

                    <div class="mb-3">
                        <label for="{{ form.title.id_for_label }}" class="form-label">Заголовок</label>
                        {{form.title }}
                        {% if form.title.errors %}
                            <div class="text-danger">{{ form.title.errors }}</div>
                        {% endif %}
                    </div>

                    <div class="mb-3">
                        <label for="{{ form.content.id_for_label }}" class="form-label">Пиши  свою хрень тут</label>
                        {{form.content}}
                        {% if form.content.errors %}
                            <div class="text-danger">{{ form.content.errors }}</div>
                        {% endif %}
                    </div>

                    <div class="d-flex gap-2">
                        <button type="submit" class="btn btn-primary">
                            {% if form.instance.pk %}Сохранить{% else %}Создать{% endif %}
                        </button>
                        <a href="{% if form.instance.pk %}{% url 'diary:entry_detail' form.instance.pk %}{% else %}{% url 'diary:entry_list' %}{% endif %}"
                           class="btn btn-secondary">Отмена</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}